.date-picker {
  .DayPickerInput {
    display: grid;
    input {
      height: 40px;
      padding-left: 15px;
      border-color: rgba(0, 0, 0, 0.23);
      color: rgba(0, 0, 0, 0.87);
      border-radius: 8px;
    }
  }
}
.css-1s2u09g-control{
  display: flex !important;
  align-items: center !important;
  .Select__input{
    width: auto !important;
  }
}
.Select__value-container{
  max-width: 170px !important;
}

.error-border{
    border-color: red !important;
}

.action-icon{
  display: flex;
  justify-content: space-around;
  align-items: center;
  .icon{
    font-size: 15px;
  }
  .icon:last-child{
    color: red;
  }
}