.date-picker {
  .DayPickerInput {
    display: grid;
    input {
      height: 40px;
      padding-left: 15px;
      border-color: rgba(0, 0, 0, 0.23);
      color: rgba(0, 0, 0, 0.87);
      border-radius: 8px;
    }
  }
}


.error-border{
    border-color: red !important;
}
