.Reservation-table {
	.rdt_TableCol {
		padding: 5px 10px !important;
		justify-content: center !important;
	}

	.rdt_TableCell {
		padding: 5px 10px !important;
		justify-content: center !important;
	}
}



.rateplan {
	border: 1px solid #e3e3e3;
	display: flex;
	align-items: center;
	// margin-right: 1px;
}

.roomnumber {
	background-color: whitesmoke;
}

.roomname {
	background-color: #165d93;
}

.days-column {
	display: flex;
	flex: 1;
	margin-left: 1px;

	.coldays {
		display: flex;
		background-color: #f7f7f7;
		flex-direction: column;
		flex: 1;
		align-items: center;
		justify-content: center;
		border: 1px solid #e3e3e3;
		cursor: pointer;
		padding: 7px;
		border-right: 0;

		&:hover {
			background-color: #337ab7;
			color: white;
		}

		&:active {
			background-color: #337ab7;
			color: white;
		}

		&:last-child {
			border-right: 1px solid #e3e3e3;
		}

		.h1-heading {
			margin-bottom: 0;
		}

		// .fa-refresh:hover {
		// 	color: white;
		// }
	}
}

.roomnumber {
	&:hover {
		background-color: #337ab7;
		color: white;
	}
}

.fa-refresh:hover {
	color: white;
}

.fc .fc-toolbar.fc-header-toolbar {
	margin-bottom: 0rem !important;
	background-color: steelblue !important;
	color: white !important;
	font-size: smaller !important;
}

.fc .fc-toolbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px !important;
}

.fc table {
	font-size: small !important;
}

.fc-timeline-header-row {
	background-color: #ddd !important;
	height: 50px !important;
	font-size: small !important;
	// background-color: '#ddd' !important;
}

.fc-right .fc-prev-button,
.fc-right .fc-next-button {
	background-color: #b1d583;
	background-image: none;
}

.fc-button .fc-button-primary .fc-prev-button {
	background-color: #165d93 !important;
	color: white !important;
	border: none !important;
}

.fc-button-primary {
	background-color: #f7f7f7 !important;
	color: black !important;
}

.fc-datagrid-cell-frame {
	height: 50px !important;
}

.fc-timeline-lane-frame {
	height: 50px !important;
}

.fc-event-draggable {
	height: 50px !important;
}

.labeladd {
	color: red;
	font-size: medium;
	font-weight: 900;
	margin-left: 35%;
}

// .fc-resource {
// 	.fc-datagrid-cell-frame {
// 		.fc-datagrid-cell-cushion .fc-scrollgrid-sync-inner {
// 			.fc-datagrid-cell-main {
// 				background-color: red !important;
// 			}
// 		}
// 	}
// }

.fc-timeline-event .fc-h-event .fc-event .fc-event-draggable .fc-event-resizable .fc-event-start .fc-event-end .fc-event-today .fc-event-future {
	height: 30px !important;
}

.fc-event-main {
	p {
		i {
			color: white !important;
		}
	}
}

.fc-datagrid-header {
	background-color: #ddd !important;
	color: black;
}

.fc .fc-timeline-slots {
	div {
		display: flex;
		justify-content: center;
		margin-top: 0.3rem !important;
	}

	// background-color: #f7f7f7 !important;
}

.fc .fc-toolbar-title {
	font-size: small !important;
}

.fc-button-active {
	background-color: red !important;
	color: white !important;
}

.datetimepicker {
	display: flex !important;
	align-items: center !important;
	justify-content: center !important;
	height: 45px !important;
	background-color: #ddd;
	cursor: pointer !important;
}

.fc .fc-timeline-slot-cushion {
	white-space: inherit !important;
	color: #000 !important;
	font-weight: 400 !important;
}

.fc-myCustomButton-button {
	background-color: steelblue !important;
	color: white !important;
	height: 25px !important;
	width: 25px !important;
	display: flex;
	justify-content: center !important;
	align-items: center !important;

}

.fc-toolbar-chunk {
	>div {
		display: flex;
		align-items: center;
		width: 190px !important;
	}
}

.Filter-column {
	.col-lg-2 {
		border: 1px solid #e3e3e3;
		max-width: 16% !important;
		padding: 10px;
		border-radius: 10px;
		margin-right: 4px;

		&:hover {
			background-color: #f2f2f2;
		}
	}
}

.counter-res {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	.h1 {
		font-weight: 300;
		color: var(--primary-bg-color);
	}

	p {
		color: gray;
		margin-bottom: 0;
	}
}

.res-button {
	background: #05c3fb !important;
	color: white !important;
}

.availablerooms {
	table {
		td:first-child {
			width: 160px !important;
			color: white;
		}

		td {
			width: 100px !important;
			color: white;
		}
	}
}

.fc-datagrid-body {

	tr:first-child {
		td {
			background-color: #337ab7 !important;
			color: white;
		}

	}

}

.lightgreen-code {

	height: 20px !important;
	width: 20px !important;
	background-color: lightgreen;
	border-radius: 50px !important;
	margin-left: 'auto';
	margin-right: 'auto';
	margin-bottom: 10;
}

.green-code {
	background-color: 'green';
	height: 20;
	width: 20;
	border-radius: 50px;
	margin-left: 'auto';
	margin-right: 'auto';
	margin-bottom: 10;
}

.lightskyblue-code {
	background-color: 'lightskyblue';
	height: 20;
	width: 20;
	border-radius: 50px;
	margin-left: 'auto';
	margin-right: 'auto';
	margin-bottom: 10;
}

.mediumpurple-code {
	background-color: 'mediumpurple';
	height: 20;
	width: 20;
	border-radius: 50px;
	margin-left: 'auto';
	margin-right: 'auto';
	margin-bottom: 10;
}

.grey-code {
	background-color: 'grey';
	height: 20;
	width: 20;
	border-radius: 50px;
	margin-left: 'auto';
	margin-right: 'auto';
	margin-bottom: 10;
}

.orange-code {
	background-color: 'orange';
	height: 20;
	width: 20;
	border-radius: 50px;
	margin-left: 'auto';
	margin-right: 'auto';
	margin-bottom: 10;
}

.coral-code {
	background-color: 'coral';
	height: 20;
	width: 20;
	border-radius: 50px;
	margin-left: 'auto';
	margin-right: 'auto';
	margin-bottom: 10;
}

.e372b1-code {
	background-color: '#e372b1';
	height: 20;
	width: 20;
	border-radius: 50px;
	margin-left: 'auto';
	margin-right: 'auto';
	margin-bottom: 10;
}

.d95652-code {
	background-color: '#d95652';
	height: 20;
	width: 20;
	border-radius: 50px;
	margin-left: 'auto';
	margin-right: 'auto';
	margin-bottom: 10;
}

.b415-code {
	background-color: '#415b75';
	height: 20;
	width: 20;
	border-radius: 50px;
	margin-left: 'auto';
	margin-right: 'auto';
	margin-bottom: 10;
}

.f67779-code {
	background-color: '#67779f';
	height: 20;
	width: 20;
	border-radius: 50px;
	margin-left: 'auto';
	margin-right: 'auto';
	margin-bottom: 10;
}

.d3ecf3-code {
	background-color: '#d3ecf3' !important;
	height: 20 !important;
	width: 20 !important;
	border-radius: 50px !important;
	margin-left: 'auto' !important;
	margin-right: 'auto' !important;
	margin-bottom: 10 !important;
}

.react-date-picker {
	z-index: 99;
}

.react-date-picker__wrapper {
	display: none !important;
}