.modal-content {
  border: none !important;
  border-radius: 10px;
  .season-body-modal {
    height: calc(100vh - 70px);
    padding: 0 !important;

    .row {
      height: 100%;
      padding: 0 !important;
      margin: 0 !important;
    }

    .sidebar-main {
      background-color: #05c3fb;
      border-radius: 10px 0 0 10px;
      padding: 0 !important;
      position: relative;

      .main-header {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 25px;

        h1 {
          font-weight: 700;
          margin-top: 5px;
          margin-bottom: 5px;
        }
      }

      .edit-tab-container {
        .nav {
          display: grid;
          .nav-item {
            display: grid;
            .nav-link {
              font-size: 20px;
              font-weight: 700;
              padding: 20px 20px;
              margin-top: 5px;
              color: white !important;
            }
            .nav-link.active {
              background-color: white;
              color: #05c3fb !important;
            }
          }
        }
      }
    }
    .side-button {
      position: absolute;
      bottom: 10px;
      left: 37px;
    }
    .fe-minus-circle{
      margin-right: 5px;
    }
    .fe-plus-circle{
      margin-left: 5px;
    }
  }
}
