.Reservation-table{
    .rdt_TableCol{
        padding: 5px 10px!important;
        justify-content: center !important;
    }
    .rdt_TableCell{
        padding: 5px 10px!important;
        justify-content: center !important;
    }
}

.Filter-column{
    .col-lg-2{
        border: 1px solid #05c3fb;
        max-width: 16% !important;
        padding: 10px;
        border-radius: 10px;
        margin-right: 4px;

        &:hover{
            background-color: #f2f2f2;
        }
    }
    
}
.counter-res{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .h1{
        font-weight: 900;
        color:  var(--primary-bg-color);
        margin-bottom: 10px;
        margin-top: 10px;
    }
    p{
        color: gray;
        margin-bottom: 0;
    }
    
}

.res-button{
    background: #05c3fb !important;
    color: white !important;
}
    
.res-card{
    box-shadow: none !important;
}

.date-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    h1{
        font-weight: 900;
        color:  var(--primary-bg-color);
        margin-bottom: 5px;
    }
    h4{
        margin-bottom: 0;
        color: gray;
        text-transform: uppercase;
    }
    .main-date{
        display: flex;
        align-items: center;
        padding-left: 18px;

        i{
            margin-left: 2px;
            font-size: 15px;
        }
    }
}

.icon-details{
    border: 1px solid gray;
    border-radius: 50px;
    height: 18px;
    width: 18px;
    font-size: 10px;
    padding-top: 2px;
    padding-left: 3px;
    margin-left: 5px;
}