.Reservation-table{
    .rdt_TableCol{
        padding: 5px 10px!important;
        justify-content: center !important;
    }
    .rdt_TableCell{
        padding: 5px 10px!important;
        justify-content: center !important;
    }
}
    