.card-bg {
    background-color: transparent !important;
    box-shadow: none !important;
}

.plus-btn {
    border: 1px solid gray;
}


.dEloFe {
    display: flex !important;
    justify-content: center !important
}