.base-input{
    display: flex;
    align-items: center;
    padding: 3px 8px 3px 8px;
    border: 1px solid #707070;
    input{
        border: none;
    }
    input:focus{
        outline: none !important;
    }
}