.card-bg {
    background-color: transparent !important;
    box-shadow: none !important;
  }
  
  .panel-secondary {
    .tab-name {
      background-color: white;
      margin-bottom: 20px;
      border-radius: 20px;
      .panel-tabs.panel-secondary.nav .nav-item .nav-link.active {
        border-radius: 20px !important;
      }
    }
  
    .tab-data {
      background-color: white;
      padding: 0 !important;
      .tab-content {
        padding: 5px !important;
        border-radius: 10px;
      }
    }
  }
  
  .main-box {
    border: 2px solid #6c5ffc;
    border-radius: 5px;
    margin: 10px;
    padding: 30px 10px;
    margin-bottom: 30px;
    position: relative;

    .icons{
      position:absolute;
      display: flex;
      right: 10px;
      top: 3px;
      justify-content: flex-end;
      align-items: center;

      i{
        font-size: 18px;
        margin-top: 10px;
        margin-left: 10px
      }
      .i-e{
        color: #6c5ffc;
      }
      .i-t{
        color: red;
      }
    }
  
    .inner-box {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
  
      .inner-box-size {
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid green;
        color: white;
        margin: 5px;
        padding: 10px;
        height: 60px;
        align-items: center;
        width: 80px;
        display: flex;
        justify-content: center;
        background-color: green;
      }
    }
  
    .inner-header {
      display: flex;
      justify-content: center;
      align-items: center;
  
      h5{
          margin: 0 !important;
      color: #707070;
          span{
            font-weight: 600;
          }
      }
    }
  
    .inner-box-row-2 {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
  
      .inner-box-size-2 {
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid orange;
        color: white;
        margin: 5px;  
        padding: 10px;
        height: 60px;
        align-items: center;
        width: 80px;
        display: flex;
        justify-content: center;
        background-color: orange;
      }
    }
  }
  