.guestdetailhead {
    background-color: rgb(196 148 255 / 42%);
    border: 2px solid rgb(110, 95, 186);
    padding: 4px;
    display: flex;
    align-items: center;
    font-weight: bolder;
}


.btn-div {
    .checkout-btn {
        height: 59px;
        width: 176px;
        color: white;
        background-color: #1fbf14;
        border: none;
        margin-right: 10px;
    }

    .dropdown-btn {
        height: 59px;
        width: 60px;
        color: blue;
        border: 1px solid gray;
    }
}